<p id=”notice”><%= notice %></p>
<h1>Student Enrollment</h1>
<% if current_user %>
  Logged in as <%= current_user.name %>.
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Signup", signup_path %> or
  <%= link_to "Login", login_path %>
<% end %>