<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Discription:</strong>
    <%= course.discription %>
  </p>

  <p>
    <strong>Instructor name:</strong>
    <%= course.instructor_name %>
  </p>

  <p>
    <strong>Weekdays:</strong>
    <%= course.weekdays %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.end_time %>
  </p>

  <p>
    <strong>Course code:</strong>
    <%= course.course_code %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course.room %>
  </p>

</div>
